@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Poppins:wght@400;600;700&family=Shrikhand&display=swap");
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: #0e141b;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blur {
  opacity: 0;
  transition: opacity 500ms ease;
  transition-delay: 200ms;
}
.blurBg-holder > .blur {
  opacity: 1;
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 1;
  height: 100vh;
  background-color: hsla(210deg, 30%, 8%, 0.85);
  backdrop-filter: blur(8px);
}
.desk-nav {
  background-color: #262223;
  color: aliceblue;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desk-nav > .logo {
  margin-left: 3em;
  font-family: poppins;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 2em;
  padding: 0.25em;
}
.desk-nav > .bars {
  margin-right: 2em;
  padding: 0.25em;
  z-index: 99;
}

.desk-nav-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-family: poppins;
}

.profile {
  width: 3em;
  height: 3em;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid rgba(105, 105, 105, 0.247);
  margin-right: 3em;
  transition: border-color 200ms ease;
}

.profile:hover{
  border-color: rgba(240, 248, 255, 0.237);
}
.mobile-nav{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: inherit;
}
.mobile-nav-ul{
  list-style: none;
  width: 100%;
  height: 24em;
  position: relative;
  display: flex;
  z-index: 9999;
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: column;
  font-family: poppins;
}

.slide{
  transform: translateX(0);
}
.no-slide{

  transform: translateX(-200px);
}
.mobile-nav-ul > li{
  z-index: 99999;
  padding: 1em 5.5em;
  color: aliceblue;
  border-radius: 5px;
  display: inline-block;
  transition: transform 500ms ease;
  cursor: pointer;
}

.mobile-nav-ul > li:hover{
background-color: rgba(81, 82, 82, 0.1);
}


/* hero */

.hero{
  width: 100%;
  height: 92vh;
  display: grid;
  place-items: center;
  position: relative;
}

.hero > h1{

  width: fit-content;
  color: aliceblue;
  font-size: 4rem;
  font-family: poppins;
  font-weight: 700;
}
@media screen and (width >= 600px) {
  .desk-nav > .bars {
    display: none;
  }
  .blur{
    display: none;
  }
  .mobile-nav{
    display: none;
  }
}
@media screen and (width <= 600px) {
  .profile {
    display: none;
  }

  .desk-nav-ul {
    display: none;
  }
}
