@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Poppins:wght@400;600;700&family=Shrikhand&display=swap");
main {
  width: 100%;
  min-height: 100vh;
  background-color: #0e141b;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blur {
  /* display: none; */
  opacity: 0;
  transition: opacity 500ms ease;
}
.blurBg > .blur {
  opacity: 1;
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 1;
  height: 100vh;
  background-color: hsla(210deg, 30%, 8%, 0.85);
  backdrop-filter: blur(8px);
}
nav {
  background-color: #262223;
  color: aliceblue;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > .logo {
  margin-left: 3em;
  font-family: poppins;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 2em;
  padding: 0.25em;
}
nav > .bars {
  margin-right: 2em;
  padding: 0.25em;
  z-index: 99;
}
svg {
  transition: transform 200ms ease-in-out;
}
line {
  transition: all 500ms ease-in-out;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-family: poppins;
}

.profile {
  width: 3em;
  height: 3em;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid rgba(105, 105, 105, 0.247);
  margin-right: 3em;
}
@media screen and (width >= 600px) {
  nav > .bars {
    display: none;
  }
}
@media screen and (width <= 600px) {
  .profile {
    display: none;
  }

  ul {
    display: none;
  }
}
